.card-header{
  background-color: rgba(16, 52, 100, 0.82);

}
.input{
  display:flex;
  gap:15px
}
 /* Style global pour tous les champs de saisie */
 /* input[type="text"],
 input[type="password"],
 input[type="email"],
 input[type="number"],
 input[type="date"],
 textarea {
     width: 100%;
     padding: 12px 16px;
     border: 1px solid #ddd;
     border-radius: 8px;
     background-color: #fff;
     font-size: 1rem;
     color: #333;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
     outline: none;
 } */

 input[type="text"]:focus,
 /* input[type="password"]:focus,
 input[type="email"]:focus,
 input[type="number"]:focus,
 input[type="date"]:focus, */
 textarea:focus {
     border-color: rgb(16, 52, 100);
     background-color: #fff;
     box-shadow: 0 0 8px rgba(16, 52, 100, 0.25);
 }

 input[type="text"]::placeholder,
 input[type="password"]::placeholder,
 input[type="email"]::placeholder,
 input[type="number"]::placeholder,
 input[type="date"]::placeholder,
 textarea::placeholder {
     color: #aaa;
     font-style: italic;
 }

 /* Pour les boutons qui sont stylisés comme des champs de saisie */
 input[type="submit"],
 input[type="button"]
  {
     width: auto;
     padding: 12px 20px;
     border: none;
     border-radius: 8px;
     background-color: rgb(16, 52, 100);
     color: white;
     font-size: 1rem;
     cursor: pointer;
     transition: background-color 0.3s, box-shadow 0.3s;
 }

 input[type="submit"]:hover,
 input[type="button"]:hover,
 button:hover {
     background-color: #003366; /* Une couleur légèrement plus foncée pour le survol */
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
