.header
{
  /* display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 900px; */
}
nav {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  align-content: space-around;
}
ul
{
  display: flex;
  gap:25px;
}
